
    body {
      background-image: url("https://raw.githubusercontent.com/DevStation-COCC/bend-201d3/master/class-09/lab-b/assets/fish.jpg");
      background-repeat: repeat-y;
      width: 1000px;
      align-content: center;
      margin: auto;
     
    }
 

  nav {
      list-style-type: none;
      background-color: #E17545;
      font-family: 'Handlee', cursive;
  }

  li a {
    list-style-type: none;
    float: left;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Handlee', cursive;
  }

  li {
    font-family: 'Handlee', cursive;
  }

  li a:hover {
    background-color: #E17545;
    color: white;
    
  }
  
  h1 {
  
    height: 50px;
    font-size: 72px;
    font-family: 'Barriecito', cursive;
    
  }

  h2 {
      background-color: #353C45;
      color: white;
      font-family: 'Barriecito', cursive;
  }

 p {
   font-family: 'Handlee', cursive;
   font-size: 20px;
 }
  
  img{
  
    max-width: 30%;
    height: auto;
    border-radius: 30%;
    position: center;
    top: 75px;
    right: 30px;
  }
  

  #content {
    margin: auto;
    width: 70%;
  }
  
  #salmoncookies_header {
    text-align: center;
    margin-bottom: 75px;
  }
  
  ul {
    list-style-type: none;
  }
  
  
  
  article {
    background-color: white;
    margin-top: 150px;
    padding: 10px;
    height: 300px;
    border-radius: 7px;
  }
  
  article li {
    padding: 3px;
  }
  
  h2 {
    margin-top: 1px;
  }

  #addLocationForm {
    float: left;
  }

  #locationSalesLists {
    background-color: white;
  }

  #fampic {
    float: right;
  }

  fieldset {
    font-family: 'Handlee', cursive;
    background-color: #A6A09D;
    align-content: center;
  }

  legend {
    font-size: 30px;
  }

tr {
  padding:10px;
  background-color: #E17545;
}

td {
  padding: 10px;
}




  
 